<h1>Ti.TandemScroll Module</h1>
<h2>Description</h2>
<p>Allows you to lock several ScrollViews together so that they will proportionately scroll.</p>
<h2>Methods</h2>
<h3>void lockTogether(TiScrollView[] views)</h3>
<p>Locks the specified scroll views together so that when one is scrolled, the others will be scrolled proportionately.
Only one set of scroll views can be locked together at any given point.</p>
<h2>Usage</h2>
<p>See example.</p>
<h2>Author</h2>
<p>Dawson Toth</p>
<h2>Module History</h2>
<p>View the <a href="changelog.html">change log</a> for this module.</p>
<h2>Feedback and Support</h2>
<p>Please direct all questions, feedback, and concerns to <a href="mailto:info@appcelerator.com?subject=iOS%20TandemScroll%20Module">info@appcelerator.com</a>.</p>
<h2>License</h2>
<p>Copyright(c) 2010-2011 by Appcelerator, Inc. All Rights Reserved. Please see the LICENSE file included in the distribution for further details.</p>